{
  "id": "{{service.name}}",
  "cpus": {{service.cpus}},
  "mem": {{service.mem}},
  "instances": 1,
  "env": {
      "GITLAB_OMNIBUS_CONFIG": "{{#routing.virtual-host}}external_url 'http://{{routing.virtual-host}}/'; {{/routing.virtual-host}}{{#high-availability.enabled}} postgresql['enable']=false; gitlab_rails['db_host'] = '{{high-availability.postgres.host}}'; gitlab_rails['db_password']='{{high-availability.postgres.password}}'; gitlab_rails['db_username']='{{high-availability.postgres.user}}'; gitlab_rails['db_database']='{{high-availability.postgres.database}}'; redis['enable'] = false; gitlab_rails['redis_host']='{{high-availability.redis.host}}';{{/high-availability.enabled}} unicorn['worker_processes'] = 1;"
  },
  "container": {
       "type": "DOCKER",
       "docker": {
           "image": "{{resource.assets.container.docker.gitlab-ce}}",
           "network" : "BRIDGE",
           "portMappings": [
             { "hostPort": 0, "containerPort": 80, "protocol": "tcp" },
             { "hostPort": 0, "containerPort": 443, "protocol": "tcp" },
             { "hostPort": 0, "containerPort": 22, "protocol": "tcp" }
           ]
       },
       "volumes": [
           {
               "containerPath": "/etc/gitlab",
               "hostPath": "/srv/gitlab/config",
               "mode": "RW"
           },
           {
               "containerPath": "/var/log/gitlab",
               "hostPath": "/srv/gitlab/logs",
               "mode": "RW"
           },
           {
               "containerPath": "/var/opt/gitlab",
               "hostPath": "/srv/gitlab/data",
               "mode": "RW"
           }
       ]
   },
   "acceptedResourceRoles": [ "{{service.role}}" ],
  "healthChecks": [
    {
      "protocol": "COMMAND",
      "command": { "value": "curl --fail ${HOST}:${PORT0}/help" },
      "gracePeriodSeconds": 300,
      "intervalSeconds": 60,
      "timeoutSeconds": 20,
      "maxConsecutiveFailures": 3
    }
  ],
  "labels": {
    {{#routing.virtual-host}}
    "HAPROXY_GROUP":"external",
    "HAPROXY_0_VHOST":"{{routing.virtual-host}}",
    "HAPROXY_0_REDIRECT_TO_HTTPS": "{{routing.https-redirect}}",
    {{/routing.virtual-host}}
    "DCOS_SERVICE_NAME": "{{service.name}}"
  },
  "upgradeStrategy":{
    "minimumHealthCapacity": 0,
    "maximumOverCapacity": 0
  }
}
